body {
  background-color: #9c835f;
}

.navmenu {
  padding: 0;
  margin: 15px;
}

.backnav {
  color: #724c21;
  font-size: 30px;
  padding: 10px;
  margin: 10px;
  max-width: 50px;
}

img.imglogo {
  max-width: 72px;
  max-height: 72px;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

img.hand_pic {
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 128px;
}

img.hand_pic.player:hover {
  background-color: #c4c4c4;
  border-radius: 20%;
}

.hasil.akhir {
  border-radius: 10%;
  background-color: #4c9654;
  transform: rotate(-28.87deg);
  padding: 30px;
  font-size: 28px;
  color: white;
}

img.refreshgame {
  padding: 30px;
}

img.refreshgame:hover {
  background-color: #c4c4c4;
  border-radius: 20%;
}

.noclick {
  pointer-events: none;
}
