<%- include('partials/header.ejs') %>



  
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">userName</th>
        <th scope="col">password</th>
        <th scope="col">Method</th>
      </tr>
    </thead>
    <tbody>
        <% var no=1; data.forEach((data) => { %>
      <tr>
        <td><%= no %></td>
        <td><%= data.username %></td>
        <td><%= data.password %></td>
        <td class="d-flex"><a href="/delete/<%= data.id %>" class="text-uppercase delete">delete</a> |
        <a href="/update/<%= data.id %>" class="text-uppercase edit">edit</a> </td>
      </tr>
      <<% no++; }) %>
      
    </tbody>
  </table>

<%- include('partials/footer.ejs') %>
