<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Font Awesome -->

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/assets/fontawesome-free-5.13.1-web/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/fontawesome-free-5.13.1-web/css/fontawesome.css" rel="stylesheet"> -->

    <!-- Font open sans Bold -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    <!-- Font open BEBAS NEUE -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">


    <!-- Koneksi ke css -->
    <link rel="stylesheet" href="css/home/style.css">

    <title>FSW6_handy</title>
</head>

<body>
    <section class="Header">
        <nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar">
            <div class="container">
                <a class="logo" style="color: white;">Logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">WORK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ABOUT ME</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav mr-auto"">
                        <li class="navbar-nav">
                            <a id="signup" class="nav-link" href="/register">REGISTER</a>
                        </li>
                        <li class="nav-item">
                            <a id="login" class="nav-link" href="/login">LOGIN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Judul -->
        <div class="jumbotron jumbotron-fluid text-center">
            <h1 class="display-4">PLAY TRADITIONAL GAME</h1><br><br>
            <h3 class="lead">Experience new traditional game play</h3>
            <a class="btn btn-lg" href="/login" role="button"> <span>PLAY NOW</span></a>
        </div>

        <div id="story" class="container text-center">
            <p class="scroll">THE STORY</p>
            <i class="scroll_down"><img src="/img/home/scroll_down.png" alt=""></i>
        </div>
    </section>

    <!-- About (Page 2) -->
    <section id="action" class="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h6 style="color: white;">What's so spesial?</h6>
                </div>
            </div>
            <div class="row carousel">
                <div class="col-5">
                    <h1>THE GAMES</h1>
                </div>
                <div class="col-7">

                    <!-- Bootstrap Carousel -->
                    <div id="carouselslide" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselslide" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselslide" data-slide-to="1"></li>
                            <li data-target="#carouselslide" data-slide-to="2"></li>
                            <li data-target="#carouselslide" data-slide-to="3"></li>
                            <li data-target="#carouselslide" data-slide-to="4"></li>
                            <li data-target="#carouselslide" data-slide-to="5"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/img/home/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselslide" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselslide" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </section>

    <!-- Features (page 3) -->

    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col">
                </div>
                <div id="feature" class="col">
                    <h3>What's so special?</h3>
                    <h1>FEATURES</h1>

                    <!-- Accordion -->
                    <div class="accordion" id="accordionFeatures">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        <div class="lingkaran"></div>
                                        <div class="garis"></div>
                                        TRADITIONAL GAMES
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionFeatures">
                                <div class="card-body">
                                    If you miss your childhood, we provide many traditional games here
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        <div class="dot"></div>
                                        GAME SUIT
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionFeatures">
                                <div class="card-body">
                                    GAME SUIT (Scissor Rock Paper)
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <div class="dot"></div>
                                        TBD
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionFeatures">
                                <div class="card-body">
                                    To Be Discussed
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <!-- Requirements -->
    <section class="requirements">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h1>SYSTEM</h1><br>
                    <h1 style="margin-top: -30px;">REQUIREMENTS</h1>

                </div>
                <div class="col-7">
                    <h3>Can My Computer Run this game?</h3>
                </div>
            </div>
        </div>

        <!-- Table -->
        <div class="container">
            <table class="table">
                <tbody>
                    <tr>
                        <th style="height: 50px;" scope="row">
                            </span>
                            <p class="tb_header">OS:</p>
                            <p class="tb_content">Windows 7 64-bit only <br>
                                (No OSX support at this time)
                            </p>
                            <span>

                        </th>
                        <td>
                            <span>
                                <p class="tb_header">PROCESSOR:</p>
                                <p class="tb_content">Intel Core 2 Duo @2.4GHZ or <br>
                                    AMD Athion X2 @ 2.8GHZ</p>
                            </span>
                        </td>

                    </tr>
                    <tr>
                        <th style="height: 50px;" scope="row">
                            </span>
                            <p class="tb_header">MEMORY:</p>
                            <p class="tb_content">4 GB RAM</p>
                            <span>

                        </th>
                        <td>
                            <span>
                                <p class="tb_header">storage:</p>
                                <p class="tb_content">8 GB available space</p>
                            </span>
                        </td>

                    </tr>
                    <tr>
                        <th style="height: 50px;" scope="row" colspan="2">
                            <span>
                                <p class="tb_header">GRAPHICS:</p>
                                <p class="tb_content">NVIDIA GeForce GTX 660 2GB or <br>
                                    AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                            </span>
                        </th>

                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- Top Scorer -->
    <section class="topScores">
        <div class="container">

            <!-- Top 1 -->
            <div class="row">
                <div class="col">
                    <!-- empty -->
                </div>
                <div class="col">
                    <div class="card one">
                        <div class="card-body">
                            <span class="card-title">
                                <img class="avatar" src="/img/home/avatar1.jpg" alt="">
                                <p class="name">Evan Lahti</p>
                                <p class="work">PC Gamer</p>
                                <img class="twitter" src="/img/home/twitter.svg" alt="">
                            </span>
                            <span>
                                <p class="card-text quote">"One of my gaming highlights of the year."
                                </p>
                                <p class="date">October 18, 2018</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Top 2 -->
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">TOP SCORES</h1>
                            <p class="card-text text">This top score from various games provided <br>
                                on this platform
                            </p>
                            <a href="#" class="btn btn-info">see more</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card two">
                        <div class="card-body">
                            <span class="card-title">
                                <img class="avatar" src="/img/home/avatar2.jpg" alt="">
                                <p class="name">Jada Griffin</p>
                                <p class="work">Nerdreactor</p>
                                <img class="twitter" src="/img/home/twitter.svg" alt="">
                            </span>
                            <span>
                                <p class="card-text quote">"The new big thing in the world of stream <br>
                                    and survival games."
                                </p>
                                <p class="date">Desember 21, 2018</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- top 3 -->
            <div class="row">
                <div class="col">
                    <!-- empty -->
                </div>
                <div class="col">
                    <div class="card three">
                        <div class="card-body">
                            <span class="card-title">
                                <img class="avatar" src="/img/home/avatar3.jpg" alt="">
                                <p class="name">Aaron Williams</p>
                                <p class="work">Uproxx</p>
                                <img class="twitter" src="/img/home/twitter.svg" alt="">
                            </span>
                            <span>
                                <p class="card-text quote">"Snoop Dogg Playing The Wildly Entertaining <br>
                                    'SOS' Is Ridiculous."
                                </p>
                                <p class="date">December 24, 2018</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>