<%- include('partials/header.ejs') %>

<div class="row d-flex justify-content-center" ;>
  <div class=" col-sm-6">
      <div class="card" style="margin-top: 5%;">
          
          <div class="card-body">

              <form action="/register" method="POST">
                  <div class="row mb-3 mx-auto">
                    <h3>Register Your Account</h3>  
                    <label for="username" class="col-sm-2 col-form-label">Username</label>
                      <div class="col-sm-10 mx-auto">
                          <input type="text" class="form-control" id="username" name="username">
                      </div>
                  </div>
                  <div class="row mb-3 mx-auto">
                      <label for="password" class="col-sm-2 col-form-label">Password</label>
                      <div class="col-sm-10 mx-auto">
                          <input type="password" class="form-control" id="password" name="password">
                      </div>
                  </div>

                  <button type="submit" name="submit"  class="btn btn-primary center-block" >REGISTER</button>
              </form>
          </div>
      </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async(e) => {
        //prevent default action (ie. page refresh) when submit button is clicked
        e.preventDefault();

        //reset errors
        emailError.textContent = '';
        passwordError.textContent = '';

        // get the values
        const email = form.email.value;
        const password = form.password.value;

        try{
            const res = await fetch('/register', {
                method: 'POST',
                body: JSON.stringify({email, password}), headers: {'content-type': 'application/json'}
            });
            const data = await res.json();
            console.log(data)
            if(data.errors){
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if(data.user){
                location.assign('/')
            }
        }
        catch(err){
            console.log(err);
        }
    })


</script>