body {
    padding: 0;
    margin: 0;
}
/* Navbar */

.navbar {
    position: relative;
    z-index: 3;
    background: rgba(0, 0, 0, .5);
    height: 90px;
   }

.navbar-brand {
    font-weight: 700;
    font-size: 24px;
    line-height: 32.68px;
    letter-spacing: 10%;
    color: #FFFFFF !important;
}

.nav-link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 16.34px;
    color: white !important;
}

.navbar-nav, .nav1 {
    margin-left: 10px;
}

.navbar-nav, .nav2 {
    margin-left: auto;
}


/* jumbotron */
.jumbotron {
    background-image: url(img/bg_1.png);
    background-size: cover ;
    height: 910px;
    margin-top: -90px;
    text-align: center;
    
}

.jumbotron, .container {
    position: relative;
    z-index: 2;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 240px ;
    font-weight: 700;
    font-size: 72px;
    line-height: 82.79px;
}  

.lead {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 27.6px;
    color: #FFFFFF;   
    text-align: center;
    margin-top: 57px;
    margin-bottom: 30px;
}

.btn-warning {
    width: 230px;
    height: 60px;
    text-align: center;
    line-height: 40px;

}

.cus-txt {
    margin-top: 45vh;
}

/* about */
.about {
    position: relative;
    z-index: 1;
    background-image: url(img/bg_2.png);
    background-size: cover ;
    height: 1040px;
    margin-top: -35px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  
}

.overlay {
    position: absolute;
    z-index: 2;
    background: #000000;
    opacity: 0.9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.row {
    position: relative;
    z-index: 13;
}

.col {
    position: relative;
    z-index: 13;
}

.cus-h3 {
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 1.5em;
line-height: 28px;
letter-spacing: 2px;

color: #FFFFFF;
}

.cus-h2 {
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: left;
letter-spacing: 2px;
text-transform: uppercase;
color: #FFB548;

}

.cus-h4 {
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* or 122% */

text-align: left;

color: #FFFFFF;
}

.cus-h1 {
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 4em;
line-height: 64px;
letter-spacing: 3px;
text-transform: uppercase;

color: #FFFFFF;

}

.col-left {
    left: 1%;
    top: 290px
}

.col-right {
    display: inline;
    top: 290px;
    right : 1%;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dot-1 {
    display: flex;
    flex-direction: row;
    
    position: absolute;
    margin-top: -30px;
    left: 45%;
}

.feature {
    position: relative;
    z-index: 1;
    background-image: url(img/bg_3.png);
    background-size: cover;
    height: 870px;
}

.ftr-overlay {
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    transform: rotate(180deg);
    position: absolute;
    z-index: 6;
    bottom: 0;
}


.ftr-txt-1 {
    position: absolute;
    z-index: 3;
    margin-top: 150px;
    right: 5%;
}

.ftr-text-2 {

    text-align: left;
    position: absolute;
    z-index: 4;
    margin-top: 150px;
    right: 5%;
} 


li {
    list-style-image: url(img/icon_dot.svg);
    margin-bottom: 30px;
}


.req {
    position: relative;
    z-index: 1;
    background-image: url(img/bg_4.png);
    background-size: cover;
    height: 950px;
}

.req-overlay {
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%);
    position: absolute;
    z-index: 3;
    bottom: 0;
}

.req-txt-1 {
    position: absolute;
    z-index: 3;
    margin-top: 150px;
    left: 5%;
}


.req-tbl {
    width : 570px;
}

.req-tbl, td {
    border-collapse: collapse;
    border : 1px solid #979797;
    padding: 5px 5px 10px 5px;
}


.scr {
    position: relative;
    z-index: 1;
    background-image: url(img/bg_5.png);
    background-size: cover;
    height: 950px;
}
.scr-overlay {
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%);
    position: absolute;
    z-index: 3;
    bottom: 0;
}

.card {
    position: absolute;
    z-index: 5;
    width: 450px;
    height:200px ;
    display: flex;
    right: 5%;
    flex-direction: row;
    padding: 10px !important;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}

.scr-card {
    position: absolute;
    left: 5%;
    background-color: ;
}

.card-title {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.card-body {
    background-color: rgba(255, 255, 255, 0);
}

.card-img {
    border-radius: 50%;
}

.bp {
    position: absolute;
    z-index: 2;
    margin-top: 3px;
    margin-left: 10px;
}

.scr-h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 27.6px;
    margin-top: -10px ;
    margin-left: -2px !important;
    width: 150%;
    color: #FFB548 ;
    margin-left: 5%;
}

.scr-txt {
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    opacity: 50%;
    color: white;
}

.scr-txt-2 {
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
    
    color: white;
}

.my-card-2 {
    position: absolute;
    margin-top: 25%;
    margin-left: -10px !important;

}
.my-card-3 {
    position: absolute;
    margin-top: 50%;
}

.card-group {
    display: flex;
    flex-direction: column;
}

.nl {
    position: relative;
    z-index: 1;
    background-image: url(img/bg_6.png);
    background-size: cover;
    height: 950px; 
}

.nl-overlay {
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%);
    position: absolute;
    z-index: 3;
    bottom: 0;
}

.nl-img {
    position: absolute;
    margin-top: 40px;
    left : 5%;
    
}

.nl-form {
    position: absolute;
    width: 50%;
    margin-top: 40px;
    right : 5%
}


.my-form {
    height : 60px;
    width : 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nl-txt-1 {
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 18px;
margin-top: 0%;
line-height: 5px;
text-align: left;
color: #FFB548;
}

.nl-txt-2 {
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
margin-top: -2%;
/* or 122% */

text-align: left;

color: #FFFFFF;
}

.nl-txt-3{
    margin-bottom: 5%;
}


.footer-list, .li-footer {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    margin-bottom: 0% !important;
    marker: none;
}

.my-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 230px;
}

.yt-cursor-1 {
    position: absolute;
    margin-top: 4px;
    margin-left: -8px;
}

.yt-cursor-2 {
    position: absolute;
    margin-top: -10px;
    margin-left: 20px;
}

/* 
.dc-1 {
    position: absolute;
    margin-top: 4px;
    margin-left: -8px;
} */

.dc-2 {
    position: absolute;
    margin-top: 5px;
    margin-left: -13px;
}


hr {
    border:1px white solid;
    width: 100%;
}

.copyright {
    display: flex;
    flex-direction: row;

}

.cus-footer-txt {
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #FFFFFF;
opacity: 0.5;

}

.bottom-foot {
    margin-left: auto;
}

.separator {
    color:  white;
}