/* Membuat CSS untuk index.html  */
* {
  margin: 0;
  padding: 0;
}

.Header {
  background: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(52, 44, 29, 0.80319) 73.22%,
      #08090a 99.74%
    ),
    url("/img/home/main-bg.jpg");
  background-size: cover;
  size: 100vw;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 12px;
  position: relative;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  height: 90px;
}

#login {
  margin-left: 100px;
}

#signup {
  margin-left: 130px;
  width: 100px;
}
.navbar-toggler {
  float: right;
}

.logo {
  position: absolute;
  width: 77px;
  height: 33px;
  left: 107px;
  top: 28.7px;

  margin-right: 500px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.collapse ul {
  margin-left: 150px;
}

.nav-item {
  width: 101px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-left: 33px;
  text-transform: capitalize;
}

.Cover ul li a:hover {
  background-color: tan;
}

.jumbotron {
  background-color: transparent;
  padding-top: 7em;
  margin-bottom: 304.52px;
}

.display-4 {
  height: 73.12px;
  color: white;
  margin-top: 163px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 400%;
  line-height: 83px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.lead {
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
}

.btn {
  width: 260.36px;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  vertical-align: middle;
  background: linear-gradient(183.46deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
}

a.btn {
  padding-top: 18px;
  text-align: center;
  color: black;
}

#story {
  padding-bottom: 53.12px;
  color: white;
  /* padding-left: 150px; */
}

.scroll_down {
  color: white;
}

/* About */
.about {
  display: flex;
  background: url("/img/home/the-games-bg2.jpg"), no-repeat;
  position: relative;
  size: 100vw;
  background-size: cover;
  margin: 0;
  color: white;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
}

.about h6 {
  margin-left: -30px;
  padding-top: 254.81px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
}

.about h1 {
  margin-top: -13.56px;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* Carousel dari Bootstrap */
.carousel {
  height: 477px;
  width: 858px;
  margin-bottom: 282.03px;
  margin-left: -50px;
}

/* ini untuk bulletsnya, pakai dot.  */
.carousel-indicators li {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 15px;
  border-radius: 50%;
  border: 1.30637px solid #ffffff;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: -50px;
}

.carousel-control-prev {
  left: -80px;
}

.carousel-control-next {
  right: -80px;
}

.carousel-control-prev-icon {
  background-image: url("/img/home/switch_prev.png");
  width: 20px;
  height: 30px;
}

.carousel-control-next-icon {
  background-image: url("/img/home/switch_next.png");
  width: 20px;
  height: 30px;
}

/* Features */

.features {
  background: radial-gradient(
      51.1% 80.48% at 30.85% 53.65%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 19.2%,
      rgba(4, 5, 6, 0.520671) 47.48%,
      #080a0b 99.74%
    ),
    url("/img/home/features2.jpg"), no-repeat, 0;
  width: auto;
  height: 900px;
  background-size: cover;
  margin: 0;
  color: white;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
}

#feature {
  margin-left: 160px;
}

.lingkaran {
  position: absolute;
  margin-left: -34px;
  margin-top: 10px;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 100%;
}

.features .dot {
  position: absolute;
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin-left: -34px;
  margin-top: 10px;
  border-radius: 50%;
  border: 1.30637px solid #ffffff;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.garis {
  position: absolute;
  border: 1px white solid;
  height: 142px;
  width: 0px;
  margin-top: 10px;
  margin-left: -30px;
}

.features h3 {
  padding-top: 169.09px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
}

.features h1 {
  line-height: 28px;
  letter-spacing: 10px;
  padding-bottom: 70.75px;
}

.card {
  background-color: transparent;
}

#accordionFeatures button {
  background: none;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffb548;
}

.card-body {
  margin-top: -30px;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  padding-left: 30px;
}

/* requirements */

.requirements {
  background: radial-gradient(
      33.26% 45% at 64.32% 47.1%,
      rgba(255, 255, 255, 0) 3.36%,
      rgba(0, 0, 0, 0) 19.22%,
      #080a0b 99.74%
    ),
    url("/img/home/requirements.png"), no-repeat;
  background-size: cover;
  height: 1200px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  color: white;
}

.requirements .row {
  padding-top: 145.33px;
  padding-bottom: 178px;
}

.requirements h3 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  padding-left: 50px;
}

.requirements h1 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
}

.table {
  width: 573.2px;
  height: 400.69px;
  border: transparent;
}

.table td,
.table th {
  border: 0.1px solid #979797;
}

.tb_header {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
}

.tb_content {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

/* TOP SCORES (LAST PAGE) */

.topScores {
  background: radial-gradient(
      70.52% 37.27% at 24.21% 47.47%,
      rgba(35, 15, 15, 0) 0%,
      rgba(0, 0, 0, 0.5) 51.1%,
      #080a0b 99.74%
    ),
    url("/img/home/top-score-bg.png"), no-repeat;
  background-color: black;
  background-size: cover;
  height: 960px;
}

.one {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  height: 200px;
  width: 452.59px;
  margin-top: 150px;
  margin-left: 800px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-top: 20px;
}

.twitter {
  margin-left: 380px;
  margin-top: -140px;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.name {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
  margin-top: -50px;
  margin-left: 80px;
}

.work {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  opacity: 0.5;
  margin-top: -10px;
  margin-left: 80px;
}

.card-text .quote {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.date {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 30px;
}

.two {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  height: 210px;
  width: 452.59px;
  margin-top: 30px;
  margin-left: 150px;
  margin-bottom: 29.97px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
}

.card-body h1 {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 10px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding-bottom: 40px;
}

.three {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  height: 200px;
  width: 452.59px;
  margin-left: 800px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
}
