.header {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-left: 1rem;
}

.header p {
    color: #F9B23D;
}

.header a {
    text-decoration: none;
    color: #724C21;
    font-size: 2rem;
}
